#layout {
	height: 100%;
	width: 100%;
}

.source-code{
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 1px;
  width: auto;
  padding: 0px;
  background-color: #eee;
  width: 650px!ie7;
  padding-bottom: 0px!ie7;
  overflow:auto;
}

.modal-body pre {
	height:70%;
}
/* prevent line wrapping for source code modal dialog */
pre code {
	white-space: pre !important;
	word-break: normal !important;
    word-wrap: normal !important;
}

/*.modal.in .modal-dialog {
	width : 75%;
}*/

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary {
    background-color: #428bca !important;
    border-color: #357ebd !important;
}
