/* Handle :  
  * iPhone 4 and 4S
  * iPhone 5 and 5S 
  * iPhone 6 and 6+
  * Galaxy S3
  * Galaxy S4
  * Galaxy S5
  * HTC One
  */
  
/* Portrait and Landscape */
/*@media only screen  
	and (max-device-width: 1024px) 
	and (max-device-height: 1280px)  {
	.widget-container  {
  		width : 100% !important;
  		height : 80% !important;
  	}
}*/


/* Handle :  
  * Asus Nexus 7
  * Galaxy Tab 10.1
  * iPad 3 and 4
  * iPad 1 and 2
  * iPad mini
  * 
  * 
  */

/* Portrait and Landscape */
/*@media only screen 
  and (min-device-width: 736px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.widget-container  {
  		width : 500px !important;
  		height : 400px !important;
  	}
}*/
