**/.project
**/.settings
**/.externalToolBuilders
**/.idea
Toolkit/node_modules
Toolkit/vendor
Toolkit/.idea
Toolkit/dist
Toolkit/vendor
npm-debug.log
.DS_Store
**/node_modules
**/dist

demos/video-display/video-display-advanced-android-vuejs/
out
documentation/jsdoc/build/
**/video-display-advanced-android-vuejs/
