**/.project
**/.settings
**/.externalToolBuilders
**/.idea
**/package-lock.json
**/yarn.lock
Toolkit/node_modules
Toolkit/vendor
Toolkit/.idea
Toolkit/dist
Toolkit/vendor
npm-debug.log
.DS_Store
**/node_modules
**/dist

demos/video-display/video-display-advanced-android-vuejs/
out
documentation/jsdoc/build/
documentation/jsdoc/build-iframe/
vuepress/docs/.vuepress/dist/
**/video-display-advanced-android-vuejs/
../video-display-advanced-android-vuejs/
/issues/166/
**/*.lock
documentation/jsdoc/build-iframe
**/issues
issues
**/documentation/jsdoc/build-iframe
documentation/jsdoc/build-iframe
