/**
#popup {
    position: absolute;
    display: none;
    width: 500px;
    height: 50px;
    z-index: 999999;
    background: #00000091;
    color: white;
    padding: 5px;
}
*/
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
}

.flex-child {
    flex: 1;
    display: flex;
    border: 5px solid rgb(8, 10, 83);
    justify-content: center;
    padding: 15px;
    background-color: lightgray ;
    font-size: 22px;
}

label {
    margin-right: 12px;
}

#cesium-container {
    height: 93%;
}

select { 
    padding: 5px;
}