#layout {
	height: 100%;
	width: 100%;
}

.source-code{
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 1px;
  width: auto;
  padding: 0px;
  background-color: #eee;
  width: 650px!ie7;
  padding-bottom: 0px!ie7;
  overflow:auto;
}

.modal-body pre {
	height:70%;
}
/* prevent line wrapping for source code modal dialog */
pre code {
	white-space: pre !important;
	word-break: normal !important;
    word-wrap: normal !important;
}

/*.modal.in .modal-dialog {
	width : 75%;
}*/

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary {
    background-color: #428bca !important;
    border-color: #357ebd !important;
}

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }
    .main{
    padding: 10px 10px 0 10px;
  }
  
   @media (min-width: 765px) {
      .main{
        position: absolute;
        width: calc(100% - 40px); 
        margin-left: 40px;
        float: right;
      }
      
      nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
      }
      
      nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 90%;
        margin-left: 0px;
      }
      
      nav.sidebar .navbar-nav > li:first-child{
        font-size : 16px;
      }

      nav.sidebar .navbar-nav > li{
      }
      
      nav.sidebar .navbar-nav .open .dropdown-menu {
        margin-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      
      nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 30px;
      }
      
      .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
      }
      
      nav.sidebar{
        width: 99%;
        margin-bottom: 0px;
      }
   }
   
   @media (min-width: 1330px) {
      .main{
        position: absolute;
        width: calc(100% - 40px); 
        margin-left: 40px;
        float: right;
      }
      
      nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
      }
      
      nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 90%;
        margin-left: 0px;
      }
      
      nav.sidebar a{
        padding-right: 13px;
      }
      
      nav.sidebar .navbar-nav > li:first-child{
        border-top: 1px #e5e5e5 solid;
        display:block;
      }

      nav.sidebar .navbar-nav > li{
        border-bottom: 1px #e5e5e5 solid;
      }
      
      nav.sidebar .navbar-nav .open .dropdown-menu {
        margin-top: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      
      nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 30px;
      }
      
      .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
        display:block;
      }
      
      nav.sidebar{
        width: 90%;
        margin-bottom: 0px;
      }
   }
   
   .dropdown-menu>li>label {
      display: block;
      padding: 5 15 0 10;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
  }
  
  .dropdown-menu>ul {
      border:1px solid #e7e7e7;
  }
  .dropdown-menu>li>label>input {
    position: relative;
    float:right;
  }
  
 .dropdown-menu>li:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
  }
  
  .dropdown-menu .divider {
    width : 100%;
  }
  
  
.navbar-default{ /* assigning the top bar to the entire navbar div element */
   /*text-align: center !important;*/
   box-shadow: inset 0px 1px 0px #e7e7e7 !important; /* initial gray color to the top bar */   
}

.navbar-collapse.collapse {
  height : 0px !important;
}

.dropdown-menu {
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.mobile-menu {
    float:right;
}

.mobile-menu>ul {
list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding : 5 5 5 5;
    margin : -15 -15 0 0;
}

.mobile-menu>ul>li>label {
      display: block !important;
      padding: 0px 10px !important;
      clear: both !important;
      font-weight: 400 !important;
      line-height: 2 !important;
      color: #333 !important;
      font-size:14px;
  }
  
  .mobile-menu>ul {
      border:1px solid #e7e7e7 !important; 
  }
  .mobile-menu>ul>li>label>input {
    margin-left:15px;
     -ms-transform: scale(1.2); /* IE */
  -moz-transform: scale(1.2); /* FF */
  -webkit-transform: scale(1.2); /* Safari and Chrome */
  -o-transform: scale(1.2); /* Opera */
  padding: 10px;
  }
  
 .mobile-menu>ul>li:hover {
    color: #262626 !important;
    text-decoration: none !important;
    background-color: #f5f5f5 !important;
  }
