/* Demo by http://creative-punch.net */

@import "font-awesome-4.6.3/css/font-awesome.min.css";

.circular-menu-container {
    position:absolute;
}

.circular-menu {
    width: 150px;
    height: 150px;
    position: absolute;
    cursor: pointer;
}

.open.circular-menu {
    display:block;
}

.close.circular-menu-container {
    display:none;
}

.close.circular-menu {
    display:none;
}

.circular-menu-circle {
    width: 150px;
    height: 150px;
    opacity: 0;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.open.circular-menu-circle {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    transform: scale(1.0);
    box-shadow: 0px 0px 20px 1px #777;
    border-radius:130px;
    background-color:#777;
    filter: alpha(opacity=60);
    /* IE */
    -moz-opacity: 0.6;
    /* Mozilla */
    opacity: 0.6;
}

.circular-menu-circle a {
    color: white;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
}

.circular-menu-circle a:hover {
    color: #eef;
    text-decoration: none;
}

.open.menu-button {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.close.menu-button {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.open.circular-menu-container{
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    display:block;
}

.close.circular-menu-container{
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    display:none;
}


.circular-menu-button {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    text-decoration: none;
    text-align: center;
    color: #444 !important;
    border-radius: 50%;
    display: block;
    height: 40px;
    width: 40px;
    background: #FFF;
    padding: 7px !important;
    text-decoration: none;
}

.circular-menu a {
    text-decoration: none;
}

/*.circular-menu-circle .fa:hover{
    color:forestgreen;
}*/

.circular-menu-button:hover {
    color: #0078A8 !important;
}
.circular-menu-circle a.fa-2x:hover {
    font-size:2.7em;
}

.circular-menu-label {
    display:none;
}