.noUi-tooltip {
    border-radius: 10px;
    box-shadow: 6px 4px 5px 0px #777;
    background-color: #777;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
    border:none;
    color: #FFF;
    width:100px; /* is optimized for displaying date */
}
.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
    top: 35px;
    left:-35px;
}

.noUi-connect {
    background-color: rgba(5, 107, 166, 0.6);
}

.noUi-tooltip:after {
    bottom: -14px;
    margin-left: -10px;
    border-top: 10px solid #fff;
}

.noUi-tooltip:after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -9px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: none;
    border-bottom: 10px solid #777;
}

.noUi-pips-horizontal {
    height:0px !important;
}

