@media (min-width: $screen-xs) and (max-width: $screen-sm) {
  .rangeSlider{
      width:200px;
      float:right;
      margin-top:-30px;
    }
}

@media (min-width: $screen-md) and (max-width: $screen-lg) {
  .rangeSlider{
      width:400px;
      float:right;
      margin-top:-30px;
    }
}

.adapt-size {
  width:85%;
  margin-top:30px;
  float:left;
}
@media (min-width: 768px) {
  .adapt-size {
    width:94%;
    margin-top:30px;
    float:left;
  }
}

.glyphicon-custom-color {
  color : red;
}

.ui-rangeSlider .ui-rangeSlider-innerBar {
  height: 20px !important;
  background: #DDD !important;
  margin: 0px 6px 3px 6px !important;
}

.sliderCustomLabel {
  border-left: 1px solid #f8f8f8;
  height: 20px;
}

.ui-ruler-tick-label {
  margin: 0 0 0 -2px;
  background-color: #DDD;
}