.remote-left {
    margin-bottom: -60px;
}

.remote-right {
    margin-bottom: -60px;
}

.remote-up {

}

.remote-down {
    margin-bottom: -120px;
    margin-left: -128px;
}

.remote-button:active {
    box-shadow: 0px 0px 20px 1px #777;
    border-radius: 200px;
    outline: none;
}

.remote-button:focus {
    outline: none;
}

/** Display remote & PTZ side by side using CSS 3 and flex display **/
.flex-container {
    display:flex;
}

.fixed{
    width:260px;
}

.flex-item{
    flex-grow: 1;
}

/** End Flex **/

.remote {
}

.preset>label {
    margin-right:10px;
}

.preset {
    margin-bottom:55px;
}

.ptz {

}

.pan {
    margin-bottom:15px;
}
.tilt {
    margin-bottom:15px;
}
.zoom {
    margin-bottom:15px;
}

.pan>label {
    display:block;
    width:60px;
    float:left;
}
.tilt>label {
    display:block;
    width:60px;
    float:left;
}
.zoom>label {
    display:block;
    width:60px;
    float:left;
}