<div>
    <div class="btn-toolbar" ng-if="!options.hideToolbar">
       <div style="float:right;display:none">
			 <input type="radio" class="mode-input" id="replayButton" value="1" name="radios" ng-model="mode" ng-change='changeMode(widgets,1)'>
				<label for="replayButton">Replay</label>
			 </input>
			 <input type="radio" class="mode-input" id="realtimeButton" value="0" name="radios" ng-model="mode" ng-change='changeMode(widgets,0)'>
				<label for="realtimeButton">Real-time</label>
			 </input>
		</div>
    </div>
    <div ui-sortable="sortableOptions" ng-model="widgets" class="dashboard-widget-area" >
        <div id="widget-container" ng-repeat="widget in widgets" ng-style="widget.containerStyle" class="widget-container" widget>
            <div class="widget panel panel-default">
                <div class="widget-header panel-heading">
                    <h3 class="panel-title">
                        <span title="show sources" ng-show="widget.showSource" ng-click="showSourceCode(widget)" class="glyphicon glyphicon-list-alt" ></span >
                    </h3>
                </div>
                <div class="panel-body widget-content" ng-show="!isCollapsed" ng-style="widget.contentStyle"></div>
            </div>
        </div>
    </div>
</div>


