/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #FF7031
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$contentWidth = 740px
.el-tabs__item.is-active, .el-tabs__item:hover {
   color: #ff7031;
}
.theme-default-content:not(.custom) {
    margin: 10px 30px;
}
.page-nav {
    margin: 10px 30px;
}

.sidebar-heading, a.sidebar-link, .sidebar-group.is-sub-group > .sidebar-group-items > li > .sidebar-link {
    font-size: 16px;
}

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
    opacity: 1.0;
}
