body {
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}

.main-view {
	height: calc(100% - 75px);
}

header.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  padding:0;
  font-size: 18px;
}

a.navbar-brand:hover {
    color: #3399f3 !important;
}

.navbar {
    background-image: -webkit-linear-gradient(#fff, #eee 50%, #e4e4e4);
    background-image: linear-gradient(#fff, #eee 50%, #e4e4e4);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe4e4e4', GradientType=0);
    filter: none;
    border: 1px solid #d5d5d5;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    margin-bottom:0px;
    min-height:0px;
}

.navbar-brand, .navbar-brand:hover {
    -webkit-transition: color ease-in-out .2s;
    transition: color ease-in-out .2s;
}

.leaflet-container {
    height: 100%;
}

.video img{
	width: 100%;
	height: 100%;
}

.video canvas{
    width: 100%;
    height: 100%;
}

.video-selected {
  border-radius: 3px;
  box-shadow: 0px 0px 0px 8px rgba(50,205,50,0.5);
}

.video-main-container {
	position:absolute;
	top:140px;
	right:10px;
    height:calc(100% - 190px);
}

.rangeSlider-container {
	height: 120px;
    margin: 5 30 0 30;
    background-color: #fff;
    border: 1px solid #444;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.rangeSlider {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 5px;
}

.dialog {
    width:465px;
    height:280px;
    margin-bottom:10px;
}

.pop-over {
    background-color: rgba(204, 179, 153, 0.6);
}

.video-dialog {
    width:640px;
    height:420px;
    margin-bottom:10px;
}

.chart-view {
    overflow:hidden;
}

.tasking-container {
    width: 420px;
    position: absolute;
    top: calc(100% - 370px);
}

.tree-container {
    position: absolute;
    width: calc(100%) !important;
    height: calc(100% - 50px) !important;
    background-color: white;
    padding: 4px;
}

.tree-dialog {
    position:absolute;
    top:60px;
    left:10px;
    overflow:hidden;
    width:250px;
    height:250px;
}

.cesium-baseLayerPicker-dropDown {
    z-index: 10000;
}

.snapshot-btn {
    position: absolute;
    top: 7;
    right: 10;
    z-index: 10;
}
