body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.video-h264 >  canvas {
  width: 100%;
}

.react-draggable {
  padding: 5px 0px;
  border: 1px solid #848484;
  border-radius: 5px;
  resize: both;
  overflow: hidden;
  margin: auto;
  min-width: 535px;
  min-height:300px;
  background: #232323cc;
}

.handle {
  min-width: 360px;
  padding:5px;
}

#video-container, .react-draggable{
  position: absolute;
  z-index: 999;
}
html, body {
  background: black;
  width: 100%;
  height: 100%;
}
