#layout {
	height: 100%;
	width: 100%;
}

.source-code{
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 1px;
  overflow: auto;
  width: auto;
  padding: 0px;
  background-color: #eee;
  width: 650px!ie7;
  padding-bottom: 0px!ie7;
  max-height: 600px;
}
